{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.comment) }}
    {{ form_widget(form.comment, {'attr' : {'class' : 'form-control'}}) }}

    {{ form_row(form.rate) }}
    {{ form_widget(form.rate, {'attr' : {'class' : 'form-control'}}) }}

    <button class="btn-btn-success">{{ button_label|default('ajouter') }}</button>
{{ form_end(form) }}