{% form_theme formComment 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(formComment) }}
    {{ form_row(formComment.comment) }}
    {{ form_widget(formComment.comment, {'attr' : {'class' : 'form-control', 'placeholder' : 'Vos commentaires'}}) }}

    {{ form_row(formComment.rate) }}
    {{ form_widget(formComment.rate, {'attr' : {'class' : 'form-control'}}) }}

    <button class="btn-btn-success">{{ button_label|default('ajouter') }}</button>
{{ form_end(formComment) }}