{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h2>Détail des commentaires</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ comment.id }}</td>
        </tr>
        <tr>
            <th>Commentaire</th>
            <td>{{ comment.comment }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ comment.rate }}</td>
        </tr>
        <tr>
            <th>Auteur</th>
            <td>{{ comment.author.id }} - {{ comment.author.email }}</td>
        </tr>
        <tr>
            <th>Episode</th>
            <td>{{ comment.episode.id }} - {{ comment.episode.title }}</td>
        </tr>
        </tbody>
    </table>

    {% if app.user.email == comment.author.email %}

        {{ include('comment/_delete_form.html.twig') }}

    {% elseif is_granted(['ROLE_ADMIN']) %}

        {{ include('comment/_delete_form.html.twig') }}

    {% endif %}

    <button class="btn btn-secondary"><a href="{{ path('wild_episodeComments', {'id' : comment.episode.id}) }}">retour à
            la liste des commentaires</a></button>

{% endblock %}