{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h2 class="text-center mt-3">Episode n° {{ episode.number }} de la saison {{ episode.season.number }}
        de {{ episode.season.program.title }}</h2>
    <div class="episodeContent">
        <div class="ml-5 mr-5 mt-5">
            <h3 class="text-center episodeTitle">Titre : {{ episode.title }}</h3>
            <p class="text-center mt-3 episodeSynopsis">{{ episode.synopsis }}</p>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="btn btn-secondary mr-5" href="{{ path('episode_index') }}">{{ 'back to list'|trans }}</a>

            <a class="btn btn-secondary ml-5" href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
        </div>
    </div>

{% endblock %}
