{% extends 'base.html.twig' %}

{% block title %}{{ 'New Program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Program'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <button class="btn btn-secondary"><a href="{{ path('program_index') }}">{{ 'back to list'|trans }}</a></button>
{% endblock %}
