{% extends 'base.html.twig' %}

{% block title %}liste épisode{% endblock %}

{% block body %}
    <h2>Episode {{ episode.number }} - {{ episode.title }}</h2>
    <h3><a href="{{ path('wild_showSeason', {'id': episode.season.id}) }}">{{ episode.season.description }}</a> de <a
                href="{{ path('wild_show_program', {'programName': episode.season.program.title|lower|replace({" ":"-"})}) }}">{{ episode.season.program.title }}</a>
    </h3>
    <p class="w-75 text-justify">{{ episode.synopsis }}</p>

    <h3 class="text-center">Liste des commentaires {{ episode.comments|length }}</h3>
    {% for comment in episode.comments %}
        <div class="commentList w-75 mb-3">
            <div class="commentContent">
                <h6>Message publié le {{ comment.createdAt|format_datetime( locale = 'fr' ) }} : </h6>
                <p>{{ comment.comment }}</p>
                <p><strong>Note : </strong>{{ comment.rate }}</p>
            </div>
            <div class="buttonDetail d-flex align-items-center">
                <button class="btn btn-secondary"><a href="{{ path('comment_show', {'id': comment.id}) }}">Voir le
                        détail</a></button>
            </div>
        </div>


    {% endfor %}

    {% if app.user %}
        <h5>Déposer un nouveau commentaire</h5>
        {{ form(formComment) }}
    {% endif %}


{% endblock %}