{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h2>Toutes les séries de la table programme</h2>

    {% for program in programs %}
        <div>
            <h3>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }} </h3>
            <p>{{ program.summary }}</p>
            <button type="button" class="btn btn-secondary"><a href ="{{ path('wild_show_program', {'programName': program.title|lower|replace({" ":"-"})}) }}">More information</a></button>
        </div>
    {% else %}
        Aucune série trouvée !
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}