{% extends 'base.html.twig' %}

{% block title %}liste épisode{% endblock %}

{% block body %}
    <div class="media mt-5 ml-3">
        <img class="align-self-start mr-4 picture" src="/uploads/{{season.program.poster}}" alt="{{ season.program.title }} poster">
        <div class="media-body">
        <h1 class="mt-0">{{ season.program.title }}</h1>
        <p>{{ season.program.summary }}</p>
        <p>Categorie : {{ season.program.category.name }}</p>

        <h2>{{ season.description }} de {{ season.program.title }}</h2>
        <hr>
        <h4>Liste des épisodes :</h4>
        {% for episode in season.episodes %}
            {% if app.user %}
            <li><strong>{{ episode.number }} - <a href ="{{ path('wild_episodeComments', {'id':episode.id}) }}">{{ episode.title }}</a></strong></li>
            {% else %}
                <li><strong>{{ episode.number }} - <a href ="{{ path('wild_showEpisode', {'id':episode.id}) }}">{{ episode.title }}</a></strong></li>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}