{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
<button class="btn btn-secondary">{{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}




