<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="{{ path('app_index') }}">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Categories'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{ render (controller (
                        'App\\Controller\\DefaultController::categoryNavbar'
                    )) }}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'actors'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Jennifer Aniston</a>
                    <a class="dropdown-item" href="#">Andrew Lincoln</a>
                    <a class="dropdown-item" href="#">Freddy Highmore</a>

                </div>
            </li>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'new add'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('wild_form') }}">Une categorie</a>
                    <a class="dropdown-item" href="{{ path('program_new') }}">Un programme</a>
                    <a class="dropdown-item" href="{{ path('season_new') }}">Une saison</a>
                    <a class="dropdown-item" href="{{ path('episode_new') }}">Un épisode</a>
                    <a class="dropdown-item" href="{{ path('actor_new') }}">Un acteur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/fr/wild/program/walking-dead">{{ 'my favorities'|trans }}</a>
            </li>
            {#<div class="login">
                <li class="nav-item mr-3 mt-2">
                    {% if app.user %}
                        <a class="text-white" href="{{ path('app_profile') }}">Mon compte</a>
                        <a class="logout" style="color: white;" href="{{ path('app_logout') }}"> Se déconnecter</a>
                </li>
                <li class="nav-item mr-3 mt-2">
                    {% else %}
                        <a class="text-white" href="{{ path('app_register') }}">Se connecter</a>
                </li>
                {% endif %}
            </div>#}
            <div class="login">
                <li class="nav-item mt-2 text-white">
                    {% if app.user %}
                        {%  trans with {'%username%' : app.user.email } %}
                            hello_username
                        {% endtrans %} !
                        <a class="logout" style="color: white;" href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
                </li>
                <li class="nav-item mr-3">
                    {% else %}
                        <a style="color: white;" href="{{ path('app_login') }}">{{ 'account.login'|trans }}</a>
                </li>
                {% endif %}
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'langage'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_index', { '_locale' : 'fr' }) }}">{{ 'french'|trans }}<img class="ml-3" src="/images/france.png" alt="french flag"></a>
                    <a class="dropdown-item" href="{{ path('app_index', { '_locale' : 'en' }) }}">{{ 'english'|trans }}<img class="ml-4" src="/images/angleterre.png" alt="english flag"></a>
                    <a class="dropdown-item" href="{{ path('app_index', { '_locale' : 'es' }) }}">{{ 'spanish'|trans}}<img class="ml-2" src="/images/spain.png" alt="spain flag"></a>
                    <a class="dropdown-item" href="{{ path('app_index', { '_locale' : 'it' }) }}">{{ 'italian'|trans}}<img class="ml-4" src="/images/italy.png" alt="italy flag"></a>

                </div>
            </li>
        </ul>
    </div>
</nav>